body {
	// Bourbon: easy linear gradients!
	@include linear-gradient($body-background-gradient-top-color, $body-background-gradient-bottom-color);
	color: $base-font-color;

	h1, h2, h3, h4, h5, h6 {
		@include media($small-screen) {
			text-align: center;
		}
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2.0em;
	}

	h3 {
		font-size: 1.5em;
	}
}

.container {
	// Neat: set widths and margins based on our neat settings
	@include outer-container();
}

#container {
	background: $content-background-color;
	margin: $xlarge-gutter auto;

	// Bourbon: calculate number of ems per given pixel value
	padding: $small-gutter $large-gutter;
	//width: 720px;
}