@import "scss/normalize";
@import "scss/bourbon/bourbon";
@import "scss/base/base";
@import "scss/neat/neat";

// Bourbon: setup keyframe for animation
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(-360deg));
  }
}

body {
	// Bourbon: easy linear gradients!
	@include linear-gradient($body-background-gradient-top-color, $body-background-gradient-bottom-color);
	color: $base-font-color;

	h1, h2, h3, h4, h5, h6 {
		@include media($small-screen) {
			text-align: center;
		}
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2.0em;
	}

	h3 {
		font-size: 1.5em;
	}
}

.container {
	// Neat: set widths and margins based on our neat settings
	@include outer-container();
}

#container {
	background: $content-background-color;
	margin: $xlarge-gutter auto;

	// Bourbon: calculate number of ems per given pixel value
	padding: $small-gutter $large-gutter;
	//width: 720px;
}

#masthead {
	margin: 0 0 $large-gutter 0;

	#logo {
		text-align: center;
		font: {
			size: 3em;
			family: "Chunk";
		}
	}
	
	// Refills: load in progressbar refill
	@import "scss/refill-progressbar";
}

#content {
	// Neat: set our column width
	@include span-columns(2);

	// Small screens will take up the entire available column
	@include media($small-screen) {
		@include span-columns(1);
	}

	.post {
		header {
			margin: 0 0 $small-gutter 0;
			.meta {
				> span {
					display: block;
				}
			}
		}

		section {
			// Bourbon: pesky clearfixing; thankfully it's a single line here!
			@include clearfix;

			margin: 0 0 $large-gutter 0;

			> img {
				// Bourbon: playing around with effects
				@include filter(grayscale(100%));

				&:hover {
					// Neat: animation only on large screens
					@include media($large-screen) {
						// Bourbon animation on hover
						@include animation(spin 2.0s ease-in);
					}
				}

				width: em(300);
				height: auto;
				margin-right: $xlarge-gutter;
				margin-bottom: $small-gutter;
				float: left;

				@include media($small-screen) {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			p {
				padding-bottom: em(10);
			}

			&.continued-content {
				// Neat: only make columned on a larger screen
				@include media($large-screen) {
					// Bourbon: implement columns
					@include columns(3);
					@include column-rule($base-border);
					@include column-gap($large-gutter);
				}
			}
		}
	}
}

#sidebar {
	// Neat: set our column width
	@include span-columns(1);

	@include media($small-screen) {
		display: none;
	}

	// Refills: load in searchbar refill
	@import "scss/refill-searchbar";
}

#feedback {
	width: 100%;
	background: $feedback-background-color;
}